.eventDetails{
	box-shadow:0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 60px;
}

.participantForm{
	box-shadow:0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.participantTable{
	width: 50%;
	margin-bottom: 50px;
}

.participantTableTitle{
	padding-left: 500px;
}

.eventForm{
	box-shadow:0px 0px 5px grey;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-Top: 10px;
	margin-bottom: 60px;
}